@import './component/section';
@import './component/content';


#app {
  margin: 0;
  font-weight: normal;
  height: 100%;
}

#main_wrapper{
  background-color: var(--color-background-blue);
  padding: 5px 5px;
  height: 100%;
}