/*
Box flex property

*/

.box__wrapper{
    &__row{
        display: flex;
        min-height: 45vh;
    }
}


.box__base{
    margin: 5px;
    padding : 10px;
    border-radius : 5px;
    background-color: var(--vt-c-gray);

    &.big__box{
        display: flex;
        flex-direction: column;
        flex: 2 0 20rem;

    }

    &.small__box{
        display: flex;
        flex-direction: column;
        flex: 1 0 10rem;
    }
}

.box__content{
    &__big{
        display: flex;
        flex:1;

        &.dash{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }

    &__small{
        display: flex;
        flex: 1;

        &.dash{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
}

.box__title{
    display: flex;
    align-items: center;

    .icon{
        width: 2.4rem;
        height: 2.4rem;
        background: url('/src/assets/icon/ico_chart.png') center center no-repeat;
        background-size: 100% 100%;
        margin-right: 5px;
        margin-top: 1px;
    }

    .text{
        font-weight: 900;
        font-size: 1.5rem;
    }
}

.tabular {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
}

.tabular-row{
    display: flex;
    flex: 1;
}

.tabular-content{
    display: flex;
    margin: 5px;
    border-radius : 5px;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
    color: black;
    flex: 1;

    .content-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex: 1;
        background-color: var(--vt-c-tabular-mute);
        border-radius: 5px 0 0 5px;

        .realtime-title {
            font-weight: 500;
            font-size: 2rem;
        }

        .realtime-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            flex: 1;

            .realtime-value{
                font-weight: bold;
                font-size: 2.2rem;
                text-align: right;
                float: left;
            }

            .realtime-unit{
                color: blue;
                font-size: 1.1rem;
                align-self: flex-end;
                margin-bottom: 0.3rem;
                margin-left: 0.8rem;
            }
        }
    }

    .content-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex: 1;
        background-color: var(--vt-c-tabular-soft);
        border-radius: 0 5px 5px 0;
    }
}

