/*
Box flex property
*/

.box__base{
    margin-top : 5px;
    margin-bottom : 5px;
    padding : 10px;
    // border : 1px solid black;
    border-radius : 5px;
    background-color: #E0E0E0;
}

.box__wrapper.row{
    display: flex;
    margin: 1px 1px;
}

.box__total__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

/*
 - Left Box Part
*/

.box__wrapper.left{
    flex: 2.715 0 15em;
    flex-direction: column;
    display: flex;
    margin-left: 8px;
    margin-right: 5px;
}

.box__base.left__box{
    display: flex;
    flex-direction: column;
    flex: 2 0 25rem;
}

.box__title.left{
    display: flex;
    align-items: center;
}

.box__content.left{
    flex: 1;
}

.box__title .icon {
    width: 2.1rem;
    height: 2.1rem;
    background: url('/src/assets/icon/ico_chart.png') center center no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
    margin-top: 1.5px;

}

.box__title .title{
    font-weight: 700;
    font-size: 1rem;
}


/*
 - Right Box Part
*/

.box__wrapper.right{
    flex: 1 0 10rem;
    flex-direction: column;
    display: flex;
    margin-right: 8px;
    margin-left: 5px;
}

.box__base.right__box{
    flex: 2 0 25rem;
}

.box__title.right{
    display: flex;
    align-items: center;
}

.box__content.right{
    flex: 1;
}