/*
Box flex property
*/
.box__base{
    margin-top : 5px;
    margin-bottom : 5px;
    padding : 10px;
    // border : 1px solid black;
    border-radius : 5px;
    background-color: #E0E0E0;

    &.big__box{
        display: flex;
        flex-direction: column;
        flex: 1 0 25rem;
    }
    
    &.small__box{
        display: flex;
        flex-direction: column;
        flex: 1 0 25rem;
    }
    
}

.box__wrapper{
    &__total{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    &__row{
        display: flex;
        margin: 1px 1px;
    }

}


.box__wrapper{
    &__big{
        flex: 2.715 0 15rem;
        flex-direction: column;
        display: flex;
        margin-left: 8px;
        margin-right: 5px;
    }

    &__small{
        flex: 1.2 0 10rem;
        flex-direction: column;
        display: flex;
        margin-right: 8px;
        margin-left: 5px;
    }
}


.box__content{
    &__big{
        flex: 1;
    }

    &__small{
        flex: 1;
    }
}


.box__title{
    display: flex;
    align-items: center;

    .icon{
        width: 2.1rem;
        height: 2.1rem;
        background: url('/src/assets/icon/ico_chart.png') center center no-repeat;
        background-size: 100% 100%;
        margin-right: 5px;
        margin-top: 1.5px;
    }

    .text{
        font-weight: 700;
        font-size: 1rem;
    }
}

