// header
.header_wrap{
    align-items: center;
    height: 66px;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_name{
    flex-basis: 400px;
    margin-left: 1.77rem;
    font-size: x-large;
}

.header_menu{
    --nav-main-gap: 45px;
    flex-basis: 1100px;

    a{
        color: black;
        text-decoration: none;
        position: relative;
        padding: 1px;
        line-height: 25px;
        display: inline-block;
    }

    li:hover a{
        color: #db1111;
    }

    li a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2.5px;
        background-color: rgb(238, 14, 14);
        left: 0;
        bottom: 0;
        transform: scaleX(0);
    }

    ul{
        list-style-type: none;
        display: flex;
        text-align: center;
        padding: 0;
    }

    ul > li{
        padding: 0 calc(var(--nav-main-gap) / 2);
    }

    li:hover a::after{
        transform: scaleX(1);
        transition: transform 250ms ease-in-out;
    }

    li a.router-link-exact-active{
        color: var(--color-text);
        font-weight: bold;
    }

    li a.router-link-exact-active::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2.5px;
        background-color: rgb(238, 14, 14);
        left: 0;
        bottom: 0;
        transform: scaleX(1);
    }
}

.header_info{
    flex-basis: 500px;

    .info_wrap{
        display: flex;
        flex-direction: row;
    }
}

.user_id{
    font-weight: 500;
    margin: 0 1.1rem;
}



//footer
.footer_wrap{
    background-color: white;
    border-top: 2px solid #eee;
    flex-shrink: 0;
}

.footer_inner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;

}

.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
}

.footer_cp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
}

.footer_links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
}

.footer_links > nav > ul{
    list-style-type: none;
    padding: 0;
}


