.box__wrapper.row{
    display: flex;
    margin: 1px 1px;
}


/*
Box Design
*/

.box__base{
    margin-top : 5px;
    margin-bottom : 5px;
    padding : 10px;
    border : 1px solid black;
    border-radius : 5px;
}

/*
Box flex property
*/

/*
 - Left Box Part
*/

.box__wrapper.left{
    flex: 2.715 0 35rem;
    flex-direction: column;
    display: inline-flex;
    margin-left: 8px;
    margin-right: 5px;
}

.box__base.left__box{
    display: flex;
    flex-direction: column;
    flex: 2 0 25rem;
}

.box__title.left{
    flex: 1 0 1rem;
}

.box__content.left{
    flex: 2 0 30rem;
}


/*
 - Right Box Part
*/

.box__wrapper.light{
    flex: 1 0 10rem;
    flex-direction: column;
    display: inline-flex;
    margin-right: 8px;
    margin-left: 5px;
}

.box__base.light__box{
    flex: 2 0 25rem;
}


