@import './components/box.css';
@import './components/sidebar.css';

/*
Box Design
*/

.box__base{
    margin-top : 5px;
    margin-bottom : 5px;
    padding : 10px;
    border : 1px solid black;
    border-radius : 5px;
    background-color: white;
}

/*
    welcome component 
*/
.wel.wrapper{
    display: block;
}

.wel.inner{
    display: flex;
    background-color: khaki;
    color: black;
}