.menu__footer {
    background-color: white;
    display: flex;
    justify-content: space-around;
    color: black;
    height: 45px;
    align-items: center;
    border-top: 1px solid #c4c4c4;
    margin-top: 1rem;
    padding: 0 15px;
    font-size: medium;
    font-weight: 400;
}

.menu__footer ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: 0;
}

.menu__footer ul li{
    padding: 0 20px;
}

.menu__footer a{
    color: black;
    text-decoration: none;
    padding: 0.09rem 0.09rem;
    position: relative;
    line-height: 2rem;
    display: inline-block;
}