@import './base.css';
@import './header.css';
@import './footer.css';
@import './component.css';


#app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  font-weight: normal;
  height: 100vh;
}

.app__wrapper{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: space-around;
  padding: 10px 0;
}

.main {
  display: flex;
  font-size: large;
  font-weight: 500;
}

/*
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
*/
